[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx-rtd-theme = "*"
sphinx = "*"
sphinx-multiversion = "*"

[scripts]
# Put coverage here so we don't interfere with debugging in the IDE
tests = "python -m pytest --cov=scanspec --cov-report term"
docs = "sphinx-build -EWT --keep-going docs build_dir/html"
clean = "rm -rf build_dir prefix */__pycache__ .coverage cov.xml *.egg-info .mypy_cache .pytest_cache"
